@page "/chat-room"
<div>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Message</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

@code {

}
